version: '3.8'

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:2.1.0
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=http://localhost:5678/
      # Important pour Codespaces : désactive la sécu cookie stricte car on passe par un proxy
      - N8N_SECURE_COOKIE=false 
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data:
